body {
background-color: #c8d2eb 
}

@viewport {
width: device-width ;
zoom: 1.0 ;
}



.parallax {
background-image: url("img/parallax.jpg");
min-height: 400px;
width: auto;
background-attachment: fixed;
background-position: cover;
background-repeat: no-repeat;
background-size: cover;
}

#navbar {
background: #c8d2eb ;
width: auto;
height: 8px;
padding: 35px 45px;
overflow: fixed;
text-align: center;
}



a {
font-family: 'Dosis', sans-serif;
font-size: 0.9em;
padding-right: 10%;
text-decoration: none;

}

.bottom {
position: sticky;
bottom: 0;
z-index: 1;
margin: 0;
}
      
.sticky {
position: fixed;
top: 0;
}

.landing--container {
position: relative;
margin: 0vh;
background-attachment: fixed;
background-repeat: no-repeat;
background-size:cover;
background-position: center;
width: 100%;
height: auto;
text-align: center;
}

p {
margin: 0;
font-family: 'Dosis', sans-serif;
color: black;
font-size: 2em;
text-align: center;
}

h1 {
font-family: 'Dosis', sans-serif;
text-transform: uppercase;
color: black;
font-size: 3em;
}

.primary-btn {
margin : 12px 12px 12px 12px;
padding: 12px 12px 12px 12px; 
border: 2px solid #f949b7 ;
outline: 0;
text-transform: uppercase;
font-family: 'Dosis', sans-serif;
letter-spacing: 4px;
background: #88a5eb;
border-radius: 25px;
font-weight: 100;
color:  black;
font-size: 0.9em;
cursor: pointer;
transition: ease;  
}


h2 {
font-family: 'Dosis', sans-serif;
font-size: 50px;
}

@media screen and (max-width:320px) {
}


.col-sm{
font-family: 'Dosis', sans-serif;
text-align: center;
text-transform: uppercase;
font-size: 50px;
}
.image {
    vertical-align:bottom;
    border:0;
    opacity: 1;
    border-radius: 35px;
    transition: 0.5s ease;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    height: 400px;
    object-fit: cover;
  }

  .images {
      margin-top: 200px;
    vertical-align:bottom;
    border:0;
    opacity: 1;
    border-radius: 35px;
    transition: 0.5s ease;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 200px;
    height: 200px;
    object-fit:contain;
  }

  .images2 {
    vertical-align:bottom;
    border:0;
    opacity: 1;
    border-radius: 35px;
    transition: 0.5s ease;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    height: 600px;
    object-fit: cover;
  }
.solid{
    margin-top: 40px;
text-align: center;
font-family: 'Dosis', sans-serif;
font-size: 30px; }

h4{
text-align: center;
font-family: 'Dosis', sans-serif;
font-size: 30px;
text-transform: uppercase;
}

h5{
margin-top: 70px; 
margin-bottom: 30px;
text-align: center;
font-family: 'Dosis', sans-serif;
font-size: 30px;
text-transform: uppercase;

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 200px;
  
  }
  
  .fa:hover {
    opacity: 0.7;
  }
    
  /* Facebook */
  .fa-facebook {
    background: #f949b7;
    color: white;
    display: flex;
    justify-content: center;

    
  }
  /*Instagram*/
  .fa-instagram {
    background: #ffbc01;
    color: white;
}

h6{
text-align: center;
font-family: 'Dosis', sans-serif;
font-size: 20px;
}